- temp = commentObject.time.toString()

i #{temp.substring(4,21)} 
br
li: b #{commentObject.content} 
br

form(action="/#{commentObject._id}" method="POST")
	input(type="hidden", name="_method", value="delete")
	button(type="submit") Delete
hr

